In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames


# Load the Home Credit Default Risk dataset
data_train = pd.read_csv("Udacity_Projects/Home_Credit_Default_Risk/application_train.csv",low_memory=False)
data_bureau = pd.read_csv("Udacity_Projects/Home_Credit_Default_Risk/bureau.csv",low_memory=False)
data_bureau_balance = pd.read_csv("Udacity_Projects/Home_Credit_Default_Risk/bureau_balance.csv",low_memory=False)
data_credit_card_balance = pd.read_csv("Udacity_Projects/Home_Credit_Default_Risk/credit_card_balance.csv",low_memory=False)
data_installments_payments= pd.read_csv("Udacity_Projects/Home_Credit_Default_Risk/installments_payments.csv",low_memory=False)
data_POS_CASH_balance= pd.read_csv("Udacity_Projects/Home_Credit_Default_Risk/POS_CASH_balance.csv",low_memory=False)
data_previous_application= pd.read_csv("Udacity_Projects/Home_Credit_Default_Risk/previous_application.csv",low_memory=False)
data_test = pd.read_csv("Udacity_Projects/Home_Credit_Default_Risk/application_test.csv",low_memory=False)

In [2]:
print('Below is statistics of primary key data in data_bureau which is available as foreign key in data_bureau_balance')
display(data_bureau['SK_ID_BUREAU'].isin(data_bureau_balance['SK_ID_BUREAU']).value_counts())

print('Below is statistics of primary key data in data_train which is available as foreign key in data_bureau')
display(data_train['SK_ID_CURR'].isin(data_bureau['SK_ID_CURR']).value_counts())

print('Below is statistics of primary key data in data_train which is available as foreign key in data_credit_card_balance')
display(data_train['SK_ID_CURR'].isin(data_credit_card_balance['SK_ID_CURR']).value_counts())

print('Below is statistics of primary key data in data_train which is available as foreign key in data_installments_payments')
display(data_train['SK_ID_CURR'].isin(data_installments_payments['SK_ID_CURR']).value_counts())

print('Below is statistics of primary key data in data_train which is available as foreign key in data_POS_CASH_balance')
display(data_train['SK_ID_CURR'].isin(data_POS_CASH_balance['SK_ID_CURR']).value_counts())

print('Below is statistics of primary key data in data_train which is available as foreign key in data_previous_application')
display(data_train['SK_ID_CURR'].isin(data_previous_application['SK_ID_CURR']).value_counts())

Below is statistics of primary key data in data_bureau which is available as foreign key in data_bureau_balance

False    942074
True     774354
Name: SK_ID_BUREAU, dtype: int64

Below is statistics of primary key data in data_train which is available as foreign key in data_bureau

True     263491
False     44020
Name: SK_ID_CURR, dtype: int64

Below is statistics of primary key data in data_train which is available as foreign key in data_credit_card_balance

False    220606
True      86905
Name: SK_ID_CURR, dtype: int64

Below is statistics of primary key data in data_train which is available as foreign key in data_installments_payments

True     291643
False     15868
Name: SK_ID_CURR, dtype: int64

Below is statistics of primary key data in data_train which is available as foreign key in data_POS_CASH_balance

True     289444
False     18067
Name: SK_ID_CURR, dtype: int64

Below is statistics of primary key data in data_train which is available as foreign key in data_previous_application

True     291057
False     16454
Name: SK_ID_CURR, dtype: int64

In [3]:
print('Below is statistics of primary key data in data_test which is available as foreign key in data_bureau')
display(data_test['SK_ID_CURR'].isin(data_bureau['SK_ID_CURR']).value_counts())

print('Below is statistics of primary key data in data_test which is available as foreign key in data_credit_card_balance')
display(data_test['SK_ID_CURR'].isin(data_credit_card_balance['SK_ID_CURR']).value_counts())

print('Below is statistics of primary key data in data_test which is available as foreign key in data_installments_payments')
display(data_test['SK_ID_CURR'].isin(data_installments_payments['SK_ID_CURR']).value_counts())

print('Below is statistics of primary key data in data_test which is available as foreign key in data_POS_CASH_balance')
display(data_test['SK_ID_CURR'].isin(data_POS_CASH_balance['SK_ID_CURR']).value_counts())

print('Below is statistics of primary key data in data_test which is available as foreign key in data_previous_application')
display(data_test['SK_ID_CURR'].isin(data_previous_application['SK_ID_CURR']).value_counts())

Below is statistics of primary key data in data_test which is available as foreign key in data_bureau

True     42320
False     6424
Name: SK_ID_CURR, dtype: int64

Below is statistics of primary key data in data_test which is available as foreign key in data_credit_card_balance

False    32091
True     16653
Name: SK_ID_CURR, dtype: int64

Below is statistics of primary key data in data_test which is available as foreign key in data_installments_payments

True     47944
False      800
Name: SK_ID_CURR, dtype: int64

Below is statistics of primary key data in data_test which is available as foreign key in data_POS_CASH_balance

True     47808
False      936
Name: SK_ID_CURR, dtype: int64

Below is statistics of primary key data in data_test which is available as foreign key in data_previous_application

True     47800
False      944
Name: SK_ID_CURR, dtype: int64

In [4]:

print('Below is Shape of data_bureau before filtering')
display(data_bureau.shape)

#filter data bureau with only data where SK_ID_BUREAU is present in data_bureau_balance
data_bureau=data_bureau.loc[(data_bureau['SK_ID_BUREAU'].isin(data_bureau_balance['SK_ID_BUREAU']))]

print('Below is Shape of data_bureau after filtering to retain only that data where SK_ID_BUREAU is present in data_bureau_balance')
display(data_bureau.shape)


print('Below is Shape of data_train before filtering')
display(data_train.shape)

# To reduce memory requirements populate data in application_train.csv only with those 
# primary key SK_ID_CURR which are available as foreign key in all other tables

data_train=data_train.loc[(data_train['SK_ID_CURR'].isin(data_bureau['SK_ID_CURR'])) 
                          & (data_train['SK_ID_CURR'].isin(data_credit_card_balance['SK_ID_CURR']))
                          & (data_train['SK_ID_CURR'].isin(data_installments_payments['SK_ID_CURR']))
                          & (data_train['SK_ID_CURR'].isin(data_POS_CASH_balance['SK_ID_CURR']))
                          & (data_train['SK_ID_CURR'].isin(data_previous_application['SK_ID_CURR']))
                         ] 


# Take only top 5k rows to resolve memory issues
data_train=data_train.head(100)

print('Below is final Shape of data_train after filtering to retain only that data where pk SK_ID_CURR is available as foreign key in all other tables and this will be used as final training dataset')
display(data_train.shape)

data_train.to_csv("Udacity_Projects/Home_Credit_Default_Risk/application_train_reduced_merged.csv")
display(data_train.shape)

Below is Shape of data_bureau before filtering

(1716428, 17)

Below is Shape of data_bureau after filtering to retain only that data where SK_ID_BUREAU is present in data_bureau_balance

(774354, 17)

Below is Shape of data_train before filtering

(307511, 122)

Below is final Shape of data_train after filtering to retain only that data where pk SK_ID_CURR is available as foreign key in all other tables and this will be used as final training dataset

(100, 122)

(100, 122)

In [5]:
print('Below is Shape of data_test before filtering')
display(data_test.shape)

# To reduce memory requirements populate data in application_train.csv only with those 
# primary key SK_ID_CURR which are available as foreign key in all other tables

data_test=data_test.loc[(data_test['SK_ID_CURR'].isin(data_bureau['SK_ID_CURR'])) 
                          & (data_test['SK_ID_CURR'].isin(data_credit_card_balance['SK_ID_CURR']))
                          & (data_test['SK_ID_CURR'].isin(data_installments_payments['SK_ID_CURR']))
                          & (data_test['SK_ID_CURR'].isin(data_POS_CASH_balance['SK_ID_CURR']))
                          & (data_test['SK_ID_CURR'].isin(data_previous_application['SK_ID_CURR']))
                         ] 

data_test=data_test.head(100)
data_test=data_test.fillna(0)

print('Below is final Shape of data_test after filtering to retain only that data where pk SK_ID_CURR is available as foreign key in all other tables and this will be used as final test dataset')

display(data_test.shape)

Below is Shape of data_test before filtering

(48744, 121)

Below is final Shape of data_test after filtering to retain only that data where pk SK_ID_CURR is available as foreign key in all other tables and this will be used as final test dataset

(100, 121)

In [6]:
display(data_bureau.shape)
data_bureau=data_bureau.loc[(data_bureau['SK_ID_CURR'].isin(data_train['SK_ID_CURR'])) | 
                                    (data_bureau['SK_ID_CURR'].isin(data_test['SK_ID_CURR']))]

data_bureau=data_bureau.merge(data_bureau_balance,
                 on='SK_ID_BUREAU',
                 how='inner')

display(data_bureau.shape)

display(data_credit_card_balance.shape)

data_credit_card_balance=data_credit_card_balance.loc[(data_credit_card_balance['SK_ID_CURR'].isin(data_train['SK_ID_CURR'])) | 
                                    (data_credit_card_balance['SK_ID_CURR'].isin(data_test['SK_ID_CURR']))]

display(data_credit_card_balance.shape)


display(data_installments_payments.shape)

data_installments_payments=data_installments_payments.loc[(data_installments_payments['SK_ID_CURR'].isin(data_train['SK_ID_CURR'])) | 
                                    (data_installments_payments['SK_ID_CURR'].isin(data_test['SK_ID_CURR']))]

display(data_installments_payments.shape)
                          


display(data_POS_CASH_balance.shape)

data_POS_CASH_balance=data_POS_CASH_balance.loc[(data_POS_CASH_balance['SK_ID_CURR'].isin(data_train['SK_ID_CURR'])) | 
                                    (data_POS_CASH_balance['SK_ID_CURR'].isin(data_test['SK_ID_CURR']))]

display(data_POS_CASH_balance.shape)


display(data_previous_application.shape)

data_previous_application=data_previous_application.loc[(data_previous_application['SK_ID_CURR'].isin(data_train['SK_ID_CURR'])) | 
                                    (data_previous_application['SK_ID_CURR'].isin(data_test['SK_ID_CURR']))]

display(data_previous_application.shape)

(774354, 17)

(41980, 19)

(3840312, 23)

(7400, 23)

(13605401, 8)

(15646, 8)

(10001358, 8)

(7846, 8)

(1670214, 37)

(1542, 37)

In [7]:
data_train=data_train.merge(data_bureau,
                 on='SK_ID_CURR',
                 how='inner')

In [8]:
data_train=data_train.merge(data_credit_card_balance,
                 on='SK_ID_CURR',
                 how='inner')

In [9]:
#data_train=data_train.merge(data_installments_payments,
#                 on='SK_ID_CURR',
#                 how='inner')

In [10]:
#data_train=data_train.merge(data_POS_CASH_balance,
#                 on='SK_ID_CURR',
#                 how='inner')

In [11]:
#data_train=data_train.merge(data_previous_application,
#                 on='SK_ID_CURR',
#                 how='inner')

In [12]:
display(data_train.shape)

(731793, 162)

In [13]:
data_test=data_test.merge(data_bureau,
                 on='SK_ID_CURR',
                 how='inner')

In [14]:
data_test=data_test.merge(data_credit_card_balance,
                 on='SK_ID_CURR',
                 how='inner')

In [15]:
#data_test=data_test.merge(data_installments_payments,
#                 on='SK_ID_CURR',
#                 how='inner')

In [16]:
#data_test=data_test.merge(data_POS_CASH_balance,
#                 on='SK_ID_CURR',
#                 how='inner')

In [17]:
display(data_test.shape)

(1019701, 161)

In [18]:
data_train=data_train.fillna(0)
data_test=data_test.fillna(0)

In [19]:
application_labels_train = data_train['TARGET']
features_without_labels = data_train.drop('TARGET', axis = 1)
features_without_labels.head(1)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY_x,AMT_GOODS_PRICE,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,100043,Cash loans,F,N,Y,2,198000.0,641173.5,23157.0,553500.0,...,0.0,0.0,0.0,0,0.0,0.0,20.0,Active,0,0

In [20]:
#Transforming Skewed Continuous Features
#Normalizing Numerical Features

In [21]:
# One-hot encoding of data using pandas.get_dummies()
#features_final = pd.get_dummies(data=data)
features_final = pd.get_dummies(pd.concat([features_without_labels,data_test],keys=[0,1]))
# Print the number of features after one-hot encoding
encoded = list(features_final.columns)
#print "{} total features after one-hot encoding.".format(len(encoded))
print('total features after one-hot encoding. %d' % len(encoded))
# Uncomment the following line to see the encoded feature names
#print(encoded)
#features_final.xs(0).head(5)
#features_final.xs(1).head(5)

features_final_train=features_final.xs(0)
features_final_test=features_final.xs(1)

#Remove NAN values
features_final_train=features_final_train.fillna(0)
features_final_test=features_final_test.fillna(0)
#features_final_test.head(5)

total features after one-hot encoding. 264

In [22]:
# Import train_test_split
from sklearn.model_selection  import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_final_train, 
                                                    application_labels_train, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

# Show the results of the split
print("Training set has %d samples." % X_train.shape[0])
print("Testing set has %d samples." % X_test.shape[0])
#X_train

Training set has 585434 samples.
Testing set has 146359 samples.

In [23]:
# TODO: Calculate Naive Model accuracy, precision and recall
accuracy = np.sum(application_labels_train) / len(application_labels_train)

recall = 1
precision = np.sum(application_labels_train) / (np.sum(application_labels_train) + (len(application_labels_train)-np.sum(application_labels_train)))

# TODO: Calculate F-score using the formula above for beta = 0.5 and correct values for precision and recall.
fscore = ((1 + np.square(.5))*precision*recall) /  ((np.square(.5)*precision)+recall)

# Print the results 
print (accuracy)
print (fscore)

0.07995157100436873
0.09798102944722811

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,fbeta_score

import sklearn.decomposition as skdc ##Includes Principal Component Analysis, a method of dimensionality reduction
import sklearn.pipeline as skpl
from sklearn.model_selection import GridSearchCV

pca = skdc.PCA() #empty model space
#pcafit = pca.fit_transform(X_train, y_train)

#pca = skdc.PCA(n_components = 10) #only include first 10 components
logreg = LogisticRegression()#empty model space
pca_logistic_regressor_pipe = skpl.Pipeline([('pca', pca), ('logistic', logreg)]) 

n_components = [10, 20, 30]
Cs = np.logspace(-4, 4, 3)

# Parameters of pipelines can be set using ‘__’ separated parameter names:
grid_obj = GridSearchCV(pca_logistic_regressor_pipe,
                         dict(pca__n_components=n_components,logistic__C=Cs))

grid_fit = grid_obj.fit(X_train,y_train)

# Get the estimator
best_clf = grid_fit.best_estimator_

#pca_logistic_regressor_pipe.fit(X_train, y_train)

#logistic_regressor = LogisticRegression()

#logistic_regressor.fit(X_train, y_train)


start = time() # Get start time
predictions_test = best_clf.predict(X_test) #None
predictions_train = best_clf.predict(X_train)
end = time() # Get end time

np.savetxt('predictions_test.txt', predictions_test)
np.savetxt('predictions_train.txt', predictions_train)

results = {}
# TODO: Calculate the total prediction time
results['pred_time'] = end - start

# TODO: Compute accuracy on the first 300 training samples which is y_train[:300]
results['acc_train'] = accuracy_score(y_train,predictions_train)

# TODO: Compute accuracy on test set using accuracy_score()
results['acc_test'] = accuracy_score(y_test,predictions_test)

# TODO: Compute F-score on the the first 300 training samples using fbeta_score()
results['f_train'] = fbeta_score(y_train,predictions_train,beta=0.5)

# TODO: Compute F-score on the test set which is y_test
results['f_test'] = fbeta_score(y_test,predictions_test,beta=0.5)

# Success
#print "{} trained on {} samples.".format(learner.__class__.__name__, sample_size)

print(results['acc_train'])
print(results['acc_test'])
print(results['f_train'])
print(results['f_test'])

0.9640130228172603
0.9633708893884216
0.8091589752254632
0.8085829348099673

In [41]:
predictions_test_actual = best_clf.predict(features_final_test)
np.savetxt('file_Ravi.txt', predictions_test_actual)

In [ ]:
np.savetxt('y_train.txt', y_train)

In [27]:
predictions_test_prob_actual = best_clf.predict_log_proba(features_final_test)
np.savetxt('file_Ravi_prob.txt', y_train)

In [45]:
np.savetxt('file_Ravi1.txt', predictions_test_actual, fmt='%s')

In [46]:
df = pd.DataFrame(features_final_test['SK_ID_CURR'], predictions_test_actual)
df.to_csv("Ravi_Test.csv", index=False)

In [51]:
type(features_final_train)

pandas.core.frame.DataFrame

In [53]:
new_df = features_final_train.copy()
len(new_df)

731793

In [60]:
new_df.drop_duplicates(subset='SK_ID_CURR',keep='first')
len(new_df)

731793

In [62]:
new_df = new_df.reset_index().drop_duplicates(subset='SK_ID_CURR', keep='first')

In [63]:
len(new_df)

100

In [64]:
new_df

,index,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY_x,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Sent proposal,NAME_CONTRACT_STATUS_Signed
0,0,100043,2,198000.0,641173.5,23157.0,553500.0,0.018850,-17199,-768,...,0,0,0,0,0,0,1,0,0,0
132,132,100048,0,202500.0,604152.0,29196.0,540000.0,0.009175,-16971,-475,...,0,0,0,0,0,0,1,0,0,0
225,225,100050,0,108000.0,746280.0,42970.5,675000.0,0.010966,-23548,365243,...,0,0,0,0,0,1,1,0,0,0
1632,1632,100059,1,540000.0,675000.0,34596.0,675000.0,0.026392,-18632,-6977,...,0,0,0,0,1,0,0,1,0,0
2282,2282,100100,2,202500.0,796396.5,38443.5,643500.0,0.008019,-15909,-1094,...,0,0,0,0,1,0,1,0,0,0
17510,17510,100112,0,315000.0,953460.0,64107.0,900000.0,0.030755,-10199,-2015,...,0,0,0,0,0,1,1,0,0,0
17833,17833,100131,0,270000.0,891072.0,45625.5,720000.0,0.072508,-13830,-1169,...,0,0,0,0,0,0,1,0,0,0
18841,18841,100135,0,135000.0,391194.0,26271.0,319500.0,0.007330,-19829,-215,...,0,0,0,0,0,1,1,0,0,0
19097,19097,100138,0,135000.0,824823.0,29223.0,688500.0,0.046220,-14339,365243,...,0,0,0,0,0,1,1,0,0,0
21260,21260,100139,1,157500.0,302341.5,24016.5,261000.0,0.010276,-13286,-2305,...,0,0,0,0,0,0,1,0,0,0
22460,22460,100145,1,202500.0,260725.5,16789.5,198000.0,0.018850,-16282,-4375,...,0,0,0,0,1,0,1,0,0,0
53564,53564,100148,0,247500.0,755190.0,36459.0,675000.0,0.008575,-16340,-8647,...,0,0,0,0,0,1,1,0,0,0
97832,97832,100157,0,180000.0,1755000.0,61132.5,1755000.0,0.014520,-16086,-1549,...,0,0,0,0,1,0,1,0,0,0
108002,108002,100162,0,112500.0,547344.0,18216.0,472500.0,0.020246,-21061,365243,...,0,0,0,0,0,1,1,0,0,0
109817,109817,100176,0,135000.0,1078200.0,31653.0,900000.0,0.010006,-17682,-4319,...,0,0,0,0,1,0,1,0,0,0
117417,117417,100180,1,315000.0,1288350.0,37800.0,1125000.0,0.020713,-15581,-4940,...,0,0,0,0,0,1,1,0,0,0
122097,122097,100181,0,157500.0,245619.0,12667.5,166500.0,0.022625,-17538,-7676,...,0,0,0,0,0,0,1,0,0,0
128733,128733,100188,1,225000.0,1325475.0,56290.5,1125000.0,0.002506,-15323,-5785,...,0,0,0,0,1,0,1,0,0,0
132933,132933,100193,0,225000.0,296280.0,15124.5,225000.0,0.020246,-17879,-940,...,0,0,0,0,1,0,1,0,0,0
156648,156648,100211,3,225000.0,746280.0,49873.5,675000.0,0.006233,-14033,-328,...,0,0,0,0,0,0,1,0,0,0
156840,156840,100218,0,337500.0,876078.0,49050.0,765000.0,0.072508,-13210,-225,...,0,0,0,0,0,0,1,0,0,0
157477,157477,100221,0,225000.0,684054.0,77494.5,630000.0,0.006629,-23656,-11883,...,0,0,0,0,1,0,1,0,0,0
161591,161591,100231,1,108000.0,912240.0,30276.0,787500.0,0.018634,-17850,-2899,...,0,0,0,0,0,1,1,0,0,0
161603,161603,100239,1,225000.0,1483231.5,51687.0,1354500.0,0.010147,-20191,-1699,...,0,0,0,0,0,1,1,0,0,0
163971,163971,100250,1,72000.0,90000.0,6529.5,90000.0,0.010966,-11259,-164,...,0,0,0,0,1,0,1,0,0,0
164259,164259,100267,0,225000.0,675000.0,17937.0,675000.0,0.026392,-13685,-3281,...,0,0,0,0,0,1,1,0,0,0
173349,173349,100284,2,180000.0,675000.0,29862.0,675000.0,0.015221,-14445,-3218,...,0,0,0,0,1,0,1,0,0,0
177249,177249,100298,0,270000.0,473760.0,48676.5,450000.0,0.020713,-16223,-3077,...,0,0,0,0,0,0,1,0,0,0
177759,177759,100302,0,180000.0,187704.0,9256.5,148500.0,0.019689,-9105,-482,...,0,0,0,0,0,0,1,0,0,0
180839,180839,100303,0,292500.0,254700.0,15709.5,225000.0,0.016612,-24006,365243,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515762,515762,100796,0,405000.0,413235.0,32778.0,337500.0,0.009630,-19311,-514,...,0,0,0,0,0,1,1,0,0,0
528722,528722,100804,2,157500.0,407727.0,32341.5,333000.0,0.018029,-12200,-733,...,0,0,0,0,1,0,1,0,0,0
529114,529114,100816,0,157500.0,88884.0,4950.0,67500.0,0.022625,-22562,365243,...,0,0,0,0,0,1,1,0,0,0
532554,532554,100842,1,247500.0,1087474.5,46206.0,972000.0,0.010032,-11667,-5076,...,0,0,0,0,1,0,1,0,0,0
541234,541234,100853,2,117000.0,276277.5,16825.5,238500.0,0.025164,-13176,-1725,...,0,0,0,0,0,1,1,0,0,0
551094,551094,100859,0,270000.0,1225224.0,44140.5,990000.0,0.046220,-14004,-2402,...,0,0,0,0,1,0,1,0,0,0
551904,551904,100861,0,306000.0,2085120.0,72477.0,1800000.0,0.035792,-14206,-5632,...,0,0,0,0,1,0,1,0,0,0
554424,554424,100882,0,213750.0,765000.0,39060.0,765000.0,0.018850,-14661,-413,...,0,0,0,0,0,0,1,0,0,0
554514,554514,100902,0,117000.0,770292.0,32764.5,688500.0,0.019689,-21838,365243,...,0,0,0,0,1,0,1,0,0,0
589170,589170,100912,2,225000.0,254700.0,16276.5,225000.0,0.046220,-10582,-2136,...,0,0,0,0,1,0,1,0,0,0
595938,595938,100920,3,112500.0,832500.0,24471.0,832500.0,0.028663,-13765,-1806,...,0,0,0,0,1,0,1,0,0,0
601314,601314,100926,0,90000.0,364896.0,16069.5,315000.0,0.009334,-15300,-4700,...,0,0,0,0,1,0,1,0,0,0
605621,605621,100935,0,225000.0,644427.0,27432.0,576000.0,0.005084,-12406,-960,...,0,0,0,0,1,0,1,0,0,0
608456,608456,100938,0,112500.0,178213.5,13932.0,144000.0,0.018850,-23236,365243,...,0,0,0,0,0,0,1,0,0,0
608896,608896,100942,0,261000.0,503676.0,25848.0,382500.0,0.018029,-15301,-7655,...,0,0,0,0,1,0,1,0,0,0
620404,620404,100948,0,112500.0,337500.0,16546.5,337500.0,0.028663,-17852,365243,...,0,0,0,0,1,0,1,0,0,0
627796,627796,100968,1,90000.0,1035832.5,30415.5,904500.0,0.035792,-11083,-1516,...,0,0,0,0,0,1,1,0,0,0
627852,627852,100985,1,225000.0,1574532.0,62572.5,1350000.0,0.010032,-17468,-5303,...,0,0,0,0,0,1,1,0,0,0
627960,627960,101003,0,247500.0,407745.0,42943.5,382500.0,0.072508,-14471,-743,...,0,0,0,0,1,0,1,0,0,0
631623,631623,101004,1,112500.0,1215000.0,84694.5,1215000.0,0.005144,-15044,-197,...,0,0,0,0,0,1,1,0,0,0
633009,633009,101022,0,112500.0,675000.0,32602.5,675000.0,0.028663,-22251,365243,...,0,0,0,0,1,0,1,0,0,0
640401,640401,101034,1,112500.0,664299.0,52614.0,567000.0,0.030755,-11411,-180,...,0,0,0,0,1,0,1,0,0,0
641137,641137,101037,0,247500.0,747000.0,38268.0,747000.0,0.026392,-22346,365243,...,0,0,0,0,1,0,1,0,0,0
647052,647052,101043,0,94500.0,74182.5,6075.0,67500.0,0.028663,-20186,365243,...,0,0,0,0,0,0,1,0,0,0
647124,647124,101074,0,173250.0,765261.0,39204.0,684000.0,0.030755,-15787,-5542,...,0,0,0,0,0,0,1,0,0,0
650084,650084,101088,0,166500.0,225000.0,14377.5,225000.0,0.019101,-17650,-5086,...,0,0,0,0,0,1,1,0,0,0
659801,659801,101104,0,124200.0,538704.0,23859.0,481500.0,0.035792,-22925,365243,...,0,0,0,0,0,0,1,0,0,0
678743,678743,101127,0,211500.0,835380.0,45445.5,675000.0,0.004849,-16492,-2128,...,0,0,0,0,0,0,1,0,0,0
679236,679236,101134,0,135000.0,450000.0,23107.5,450000.0,0.004849,-15175,-3046,...,0,0,0,0,0,0,1,0,0,0
696006,696006,101138,0,202500.0,640080.0,24259.5,450000.0,0.007020,-20726,-10702,...,0,0,0,0,1,0,1,0,0,0